@model buildMultipleModelsWithSingleView.Models.SchoolViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (Model.MyStudents.Any())
{
    <div class="container">

        <h2>Students data</h2>
        <table class="table table-bordered">
            <thead >
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Class</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MyStudents)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Gender</td>
                        <td>@item.Standard</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h2>No student found</h2>
}
<br />

<div class="container">
    <h2>Teachers data</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Qualification</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MyTeachers)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Qualification</td>
                    <td>@item.salary</td>
                </tr>
            }
        </tbody>
    </table>
</div>
